GROQ_API_KEY=coloque_sua_chave_aqui

# URL de download do banco de dados (GitHub Releases)
CINEDATA_DB_URL=https://github.com/AdryanCALS/Atividade-GenAI-RocketLab/releases/download/v1.0.0/cinerocket.db.zip